<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - GrKouk Web ERP</title>
    <partial name="_CssBootstrapBlockPartial"/>
    @RenderSection("MyCss", required: false)
</head>
<body>
@*<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">*@
<nav class="navbar fixed-top navbar-expand-md navbar-light bg-white border-bottom mb-3">
    <div class="container-fluid">
         <a asp-page="/Index" class="navbar-brand">GrKouk Web ERP </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarMain"
                aria-controls="navBarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navBarMain">
            <ul class="navbar-nav me-auto">
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-link dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Management
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @* <span class="dropdown-item-text">Configuration</span>*@
                            <a class="dropdown-item" asp-page="/Expenses/index">Exprenses(Εξοδα)</a>
                            <a class="dropdown-item" asp-page="/transactions/buymaterialsDoc/index">Αγορές/Εξοδα</a>
                            <a class="dropdown-item" asp-page="/transactions/sellmaterialDoc/index">Πωληση/Εσοδα</a>
                            <a class="dropdown-item" asp-page="/transactions/RecurringTransactions/index">Συνδρομές</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-page="/Transactions/TransactorTransMng/index">Transactors Transactions</a>
                            <a class="dropdown-item" asp-page="/Transactions/WarehouseTransMng/index">Warehouse Transactions</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-page="/mainentities/Transactors/index">Transactors</a>
                            <a class="dropdown-item" asp-page="/mainentities/materials/index">WarehouseItems</a>
                            <a class="dropdown-item" asp-page="/mainentities/cashflowaccounts/index">Cash Flow Accounts</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-page="/transactions/productionrecipies/index">Production Recipies</a>


                        </div>
                    </li>
                    <li class="nav-link dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Configuration
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-page="/MediaMng/index">Media</a>
                            <a class="dropdown-item" asp-page="/commonentities/CashRegCategories/index">Cash Register Categories</a>
                            <a class="dropdown-item" asp-page="/commonentities/ClientProfiles/index">Client Profiles</a>
                            <a class="dropdown-item" asp-page="/commonentities/CrCashCatWarehouseItem/index">Cash Cat Wareh Item</a>
                            <a class="dropdown-item" asp-page="/mainentities/Diaries/index">Diaries</a>
                            <a class="dropdown-item" asp-page="/commonentities/MeasureUnits/index">Measure Units</a>
                            <a class="dropdown-item" asp-page="/commonentities/fpakategories/index">VAT Categories</a>
                            <a class="dropdown-item" asp-page="/commonentities/MaterialCategories/index">Meterial Categories</a>
                            <a class="dropdown-item" asp-page="/configuration/sectionsManagement/index">Sections Management</a>
                            <a class="dropdown-item" asp-page="/commonentities/fiscalperiodsmanagement/index">Fiscal Periods Management</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-page="/commonentities/costcentres/index">Cost Centres Management</a>
                            <a class="dropdown-item" asp-page="/commonentities/FinCategories/index">Financial Categories Management</a>
                            <a class="dropdown-item" asp-page="/Companies/index">Companies(Εταιρείες)</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-page="/configuration/FinancialMovements/index">Financial Movements</a>
                            <a class="dropdown-item" asp-page="/configuration/TransactorTypes/index">Transactor Types</a>
                            <a class="dropdown-item" asp-page="/configuration/paymentmethods/index">Payment Methods</a>

                        </div>
                    </li>
                    <li class="nav-link dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Παραστατικά
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-page="/configuration/warehousetransdef/index">Warehouse Trans Def</a>
                            <a class="dropdown-item" asp-page="/configuration/WarehouseTransDocTypeDef/index">Warehouse Trans Doc Type Def</a>
                            <a class="dropdown-item" asp-page="/configuration/WarehouseTransDocSeriesDef/index">Warehouse Trans Doc Series Def</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-page="/configuration/Buydoctypedefinition/index">WarehouseItems Buy Type Def</a>
                            <a class="dropdown-item" asp-page="/configuration/Buydocseriesdefinitions/index">WarehouseItems Buy Series Def</a>
                            <a class="dropdown-item" asp-page="/configuration/SellDocTypeDefs/index">Sell Type Def</a>
                            <a class="dropdown-item" asp-page="/configuration/SellDocSeriesDefs/index">Sell Series Def</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-page="/configuration/transactorTransDefs/index">Transactor Trans Def</a>
                            <a class="dropdown-item" asp-page="/configuration/TransactorTransDocTypes/index">Transactor Trans Doc Type Defs</a>
                            <a class="dropdown-item" asp-page="/configuration/TransactorTransDocSeries/index">Transactor Trans Doc Series Defs</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-page="/configuration/cashflow/CFATransactionDefs/index">CFA Trans Def</a>
                            <a class="dropdown-item" asp-page="/configuration/cashflow/CFADocTypeDefs/index">CFA Doc Type Defs</a>
                            <a class="dropdown-item" asp-page="/configuration/cashflow/CFADocSeriesDefs/index">CFA Doc Series Defs</a>

                        </div>
                    </li>
                    <li class="nav-link dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Εργαλεία
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-page="/tools/updaterates">Ενημέρωση ισοτιμιών</a>
                            <a class="dropdown-item" asp-page="/settings/AppSettings">Application Settings</a>
                            <a class="dropdown-item" asp-page="/settings/AppInfo">App Information</a>
                        </div>

                    </li>
                }
            </ul>
            <partial name="_LoginPartial"/>
        </div>
    </div>
</nav>

@RenderSection("OutOfBody",required:false)
<br/>
<div class="container mt-2">
    @RenderBody()
    <hr/>
    <footer>
        <p>
            &copy; 2018-2021 - George Koukoudis Version @System.Reflection.Assembly.GetEntryAssembly().GetName().Version
        </p>
    </footer>
</div>
<partial name="_JsBlockPartial"/>

@RenderSection("Scripts", required: false)
@await Component.InvokeAsync("NToastNotify")
</body>
</html>