<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - GrKouk Web ERP</title>
    <partial name="_CssBootstrapBlockPartial"/>
    @RenderSection("MyCss", required: false)
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-secondary" aria-label="Second navbar example">
    <div class="container-fluid">
         <a class="navbar-brand" href="/index">Grkouk Web ERP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <h5 class="nav-link" aria-current="page" href="#">@ViewData["Title"]</h5>
                </li>
                <li class="nav-item">
                    <h5 class="nav-link" name="docCurrency"></h5>
                </li>
            </ul>
             <a class="nav-link text-white-50" asp-page="./Index">Back to List</a>
        </div>
    </div>
  </nav>
 

 @RenderBody()

<partial name="_JsBlockPartial"/>
@RenderSection("Scripts", required: false)
@await Component.InvokeAsync("NToastNotify")
</body>
</html>