@page
@model GrKouk.Web.ERP.Pages.Transactions.RecurringTransactions.IndexModel

@{
    ViewData["Title"] = "Συνδρομές";
}
@section MyCss
{
    <link rel="stylesheet" href="~/css/custom-checkbox.css" />
    <link rel="stylesheet" href="~/css/searchbar.css" />
    <style>
        .delayed {
            color:red;
        }
    </style>
}
<h4>Λίστα Συνδρομών</h4>


<div class="container ">
    <ul class="nav small justify-content-end ">
        <li class="nav-item">
            <a href="#" role="button" class="nav-link" id="CreateNew">Create New</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#filterCollapse" role="button" id="filtersToggle"
               aria-expanded="false" aria-controls="filterCollapse">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#" id="rowSelectorsToggle" role="button">

            </a>
        </li>
        <li class="nav-item dropdown " id="SelectedRowsActionsMenu">
            <a class="nav-link dropdown-toggle disabled" role="button" id="ddSelectedRowsActions" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Actions</a>
            <div class="dropdown-menu small">
                <a class="dropdown-item" href="#" id="deleteSelectedRows">Delete Selected</a>
                <a class="dropdown-item" href="#" id="applySelected">Apply Selected</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>

            </div>
        </li>
    </ul>
</div>

<div class="collapse show" id="filterCollapse">
    <form class="form-inline" id="FiltersForm" method="get">
        <input type="hidden" id="filtersVisible" />
        <input type="hidden" id="rowSelectorsVisible" />
        <input type="hidden" id="currentSort" />
        <input type="hidden" id="currentFilter" />
        <input type="hidden" id="totalPages" />
        <input type="hidden" id="totalRecords" />
        <input type="hidden" id="pageIndex" />
        <div class="container">
            <div class="form-row">
                <div class="form-group col-md-auto">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="" placeholder="Search...">
                        <a href="#" class="search_icon"><i class="fas fa-search fa-xs"></i></a>
                    </div>
                </div>

                <div class="form-group col-md-auto">
                    <label class="small"> Period:</label>
                    <select name="DatePeriodFilter" id="DatePeriodFilter" class="form-control form-control-sm small"
                            asp-items="ViewBag.DataFilterValues"></select>
                </div>
                <div class="form-group col-md-auto">
                    <label class="small">Company:</label>
                    <select id="CompanyFilter" class="form-control form-control-sm small"
                            asp-items="ViewBag.CompanyFilter"></select>

                </div>
                <div class="form-group col-md-auto">
                    <label class="small"> Page Size:</label>
                    <select id="PageSize" class="form-control form-control-sm small"
                            asp-items="ViewBag.PageFilterSize"></select>
                </div>
              
                <div class="form-group col-md-auto">
                    <label class="small"> Currency:</label>
                    <select id="CurrencySelector" class="form-control form-control-sm small"
                            asp-items="ViewBag.CurrencySelector"></select>
                </div>
            </div>
        </div>
    </form>
    <div class="row mt-1">
        <div class="col-5">
            <label class="small text-left" name="PagingInfo"> </label>
        </div>
        <div class="col-7">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-end">
                    <li class="page-item ">
                        <a href="#" id="GoToFirst" data-pageraction="GoToFirst" 
                           class="page-link" aria-label="First">
                            @*<span aria-hidden="true">;</span>*@
                            First
                        </a>
                    </li>
                    <li class="page-item ">
                        <a href="#" id="GoToPrevious" data-pageraction="GoToPrevious"
                           class="page-link" aria-label="Previous">
                            @*<span aria-hidden="true">&laquo;</span>*@
                            Previous
                        </a>
                    </li>

                    <li class="page-item ">
                        <a href="#" id="GoToNext" data-pageraction="GoToNext"
                           class="page-link" aria-label="Next">
                            @*<span aria-hidden="true">&raquo;</span>*@
                            Next
                        </a>
                    </li>
                    <li class="page-item  ">
                        <a href="#" id="GoToLast" data-pageraction="GoToLast"
                           class="page-link" aria-label="Last">
                            @*<span aria-hidden="true">;</span>*@
                            Last
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<table class="table table-bordered table-sm m-0" id="myTable">
    <thead class="thead-light">
    </thead>
    <tbody>
    </tbody>
</table>
<div class="row">
    <div class="col-5">
        <label class="small" name="PagingInfo"> </label>
    </div>
    <div class="col-7">
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm justify-content-end">
                <li class="page-item ">
                    <a href="#" id="GoToFirst"
                       class="page-link" aria-label="First">
                        @*<span aria-hidden="true">;</span>*@
                        First
                    </a>
                </li>
                <li class="page-item ">
                    <a href="#" id="GoToPrevious"
                       class="page-link" aria-label="Previous">
                        @*<span aria-hidden="true">&laquo;</span>*@
                        Previous
                    </a>
                </li>

                <li class="page-item ">
                    <a href="#" id="GoToNext"
                       class="page-link" aria-label="Next">
                        @*<span aria-hidden="true">&raquo;</span>*@
                        Next
                    </a>
                </li>
                <li class="page-item  ">
                    <a href="#" id="GoToLast"
                       class="page-link" aria-label="Last">
                        @*<span aria-hidden="true">;</span>*@
                        Last
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- Modal product selector -->
<div class="modal fade" id="productSelector" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="form-row">
                        <div class="col-6">
                            <p class="modal-title font-weight-bold" id="productModalLabel">Products</p>
                        </div>
                        <div class="col-6 text-right">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-10">
                            @*<form class="form-inline">
                            *@
                            <input class="form-control form-control-sm" name="productSearchText" placeholder="Search text" type="text" />
                            @*
                                </form>*@
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered table-sm" id="productsList">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="small">
                                            Product
                                        </th>
                                        <th class="small">
                                            col 2
                                        </th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div>
                    <p>Executing request. <br><br><small>Please wait...</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/indexPageIIFE.lib.js"></script>
    <script>
        $(document).ready(function() {
            var currentCulture = '@System.Globalization.CultureInfo.CurrentCulture';
            let baseCulture = '@System.Globalization.CultureInfo.CurrentCulture.';
            var formatterCurrency = new Intl.NumberFormat(currentCulture,
                {
                    style: 'currency',
                    currency: 'EUR',
                    minimumFractionDigits: 2
                });
            var formatterNumber = new Intl.NumberFormat(currentCulture,
                {
                    maximumFractionDigits: 3

                });
            //#region variables
           
            var $deleteSelectedRowsLink = $('#deleteSelectedRows');
           
            var currencyListJs = @Html.Raw(Json.Serialize(ViewBag.CurrencyListJs));
            //#endregion
            //#region Index page definition objects
            const colDefs = [
                {
                    key: 'nextTransDate',
                    responseKey: 'nextTransDate',
                    actualVal: '',
                    columnFormat: 'd',
                    totalKey: '',
                    grandTotalKey: '',
                    totalFormatter: '',
                    sortKey: 'TransactionDateSort',
                    sortType: 'numeric',
                    header: 'Next Date',
                    text: '',
                    headerClass: 'small text-center ',
                    class: 'small',
                    classWhenCondition: 'small delayed',
                    classCondition: {
                        val1Type: 'func',
                        val1Value: function() { return new Date().getTime(); },
                        val2Type: 'func',
                        val2Value: function(valueSource) { return new Date(valueSource['nextTransDate']).getTime(); },
                        operator: 'isGraterThan'
                    },
                    remoteReference: {
                    }
                },
                {
                    key: 'recurringDocTypeName',
                    responseKey: 'recurringDocTypeName',
                    actualVal: '',
                    columnFormat: 't',
                    totalKey: '',
                    grandTotalKey: '',
                    totalFormatter: '',
                    sortKey: '',
                    sortType: '',
                    header: 'Type',
                    text: '',
                    headerClass: 'small text-center d-none d-md-table-cell',
                    class: 'small d-none d-md-table-cell',
                    classWhenCondition: 'small small d-none d-md-table-cell delayed',
                    classCondition: {
                        val1Type: 'func',
                        val1Value: function() { return new Date().getTime(); },
                        val2Type: 'func',
                        val2Value: function(valueSource) { return new Date(valueSource['nextTransDate']).getTime(); },
                        operator: 'isGraterThan'
                    },
                    remoteReference: {
                    }
                },
                {
                    key: 'recurringFrequency',
                    responseKey: 'recurringFrequency',
                    actualVal: '',
                    columnFormat: 't',
                    totalKey: '',
                    grandTotalKey: '',
                    totalFormatter: '',
                    sortKey: '',
                    sortType: '',
                    header: 'Frequency',
                    text: '',
                    headerClass: 'small text-center d-none d-md-table-cell',
                    class: 'small d-none d-md-table-cell',
                    classWhenCondition: 'small d-none d-md-table-cell delayed',
                    classCondition: {
                        val1Type: 'func',
                        val1Value: function() { return new Date().getTime(); },
                        val2Type: 'func',
                        val2Value: function(valueSource) { return new Date(valueSource['nextTransDate']).getTime(); },
                        operator: 'isGraterThan'
                    },
                    remoteReference: {
                    }
                },
                {
                    key: 'transactorName',
                    responseKey: 'transactorName',
                    actualVal: '',
                    columnFormat: 't',
                    totalKey: 'label',
                    grandTotalKey: 'label',
                    totalFormatter: '',
                    sortKey: 'TransactorNameSort',
                    sortType: 'alpha',
                    header: 'Transactor',
                    text: '',
                    headerClass: 'small text-center',
                    class: 'small',
                    classWhenCondition: '',
                    classCondition: {
                    },
                    remoteReference: {
                        isRemoteReference: true,
                        valueKey: 'transactorId',
                        url: '@Url.Page("/mainentities/transactors/details")?id='
                    }
                },
                {
                    key: 'docSeriesCode',
                    responseKey: 'docSeriesCode',
                    actualVal: '',
                    columnFormat: 't',
                    totalKey: '',
                    grandTotalKey: '',
                    totalFormatter: '',
                    sortKey: 'SeriesCodeSort',
                    sortType: 'alpha',
                    header: 'Series',
                    text: '',
                    headerClass: 'small text-center d-none d-md-table-cell',
                    class: 'small d-none d-md-table-cell ',
                    classWhenCondition: 'small d-none d-md-table-cell delayed',
                    classCondition: {
                        val1Type: 'func',
                        val1Value: function() { return new Date().getTime(); },
                        val2Type: 'func',
                        val2Value: function(valueSource) { return new Date(valueSource['nextTransDate']).getTime(); },
                        operator: 'isGraterThan'
                    },
                    remoteReference: {
                    }
                },
                {
                    key: 'companyCode',
                    responseKey: 'companyCode',
                    actualVal: '',
                    columnFormat: 't',
                    totalKey: '',
                    grandTotalKey: '',
                    totalFormatter: '',
                    sortKey: 'CompanyCodeSort',
                    sortType: 'alpha',
                    header: 'Company',
                    text: '',
                    headerClass: 'small text-center',
                    class: 'small ',
                    classWhenCondition: 'small delayed',
                    classCondition: {
                        val1Type: 'func',
                        val1Value: function() { return new Date(); },
                        val2Type: 'func',
                        val2Value: function(valueSource) { return new Date(valueSource['nextTransDate']); },
                        operator: 'isGraterThan'
                    },
                    remoteReference: {
                    }
                },
                {
                    key: 'totalAmount',
                    responseKey: 'totalAmount',
                    actualVal: '',
                    columnFormat: 'c',
                    totalKey: 'sumOfAmount',
                    grandTotalKey: 'grandSumOfAmount',
                    totalFormatter: 'currency',
                    sortKey: '',
                    sortType: '',
                    header: 'Net Amount',
                    text: '',
                    headerClass: 'small text-center',
                    class: 'small text-right ',
                    classWhenCondition: 'small text-right delayed',
                    classCondition: {
                        val1Type: 'func',
                        val1Value: function() { return new Date().getTime(); },
                        val2Type: 'func',
                        val2Value: function(valueSource) { return new Date(valueSource['nextTransDate']).getTime(); },
                        operator: 'isGraterThan'
                    },
                    remoteReference: {
                    }
                }
            ];
            const actionColDefs = [
                {
                    actionType: 'defaultAction',
                    valueKey: 'id',
                    icon: '<i class="fas fa-edit fa-lg" style="color:slategray"></i>',
                    url: '@Url.Page("./Edit")?id='
                },
                {
                    actionType: 'defaultAction',
                    valueKey: 'id',
                    icon: '<i class="fas fa-info-circle fa-lg" style="color:slategray"></i>',
                    url: '@Url.Page("./Details")?id='
                },
                {
                    actionType: 'defaultAction',
                    valueKey: 'id',
                    icon: '<i class="fas fa-trash fa-lg" style="color:slategray"></i>',
                    url: '@Url.Page("./Delete")?id='
                },
                {
                    actionType: 'eventAction',
                    visibility: 'always',
                    elementName: 'Action1Link',
                    condition: {},
                    text: 'Εφαρμογή',
                    valueKey: 'id',
                    dataKey:'itemid',
                    icon: '<i class="fas fa-check fa-lg" style="color:slategray"></i>',
                    url: ''
                }
            ];
            const actionColSubDefs = [
            ];
            const actionMobileColDefs = [
                {
                    actionType: 'defaultAction',
                    visibility: 'always',
                    elementName: '',
                    condition: {},
                    text: 'Edit',
                    valueKey: 'id',
                    icon: '<i class="fas fa-edit fa-lg" style="color:slategray"></i>',
                    url: '@Url.Page("./Edit")?id='
                },
                {
                    actionType: 'defaultAction',
                    visibility: 'always',
                    elementName: '',
                    condition: {},
                    text: 'Details',
                    valueKey: 'id',
                    icon: '<i class="fas fa-info-circle fa-lg" style="color:slategray"></i>',
                    url: '@Url.Page("./Details")?id='
                },
                {
                    actionType: 'defaultAction',
                    visibility: 'always',
                    elementName: '',
                    condition: {},
                    text: 'Delete',
                    valueKey: 'id',
                    icon: '<i class="fas fa-trash fa-lg" style="color:slategray"></i>',
                    url: '@Url.Page("./Delete")?id='
                },
                {
                    actionType: 'eventAction',
                    visibility: 'always',
                    elementName: 'Action1Link',
                    condition: {},
                    text: 'Εφαρμογή',
                    valueKey: 'id',
                    dataKey:'itemid',
                    icon: '<i class="fas fa-check fa-lg" style="color:slategray"></i>',
                    url: ''
                }
            ];
            const tableHandlersToRegister = [
                {
                    selector: '[name=Action1Link]',
                    event: 'click',
                    handler: function(event) {
                        let button = $(event.delegateTarget);
                        const itemId = button.data('itemid');
                        var idsToHandle = [];
                        idsToHandle.push(itemId);
                        var idsJs = JSON.stringify({
                            ids: idsToHandle
                        });
                        applyRecurringTransaction(idsJs);
                    }
                }
            ];
            const pageHandlersToRegister = [
                {
                    selector: '#CurrencySelector',
                    event: 'change',
                    handler: function(event) {
                        currencyChanged();
                        indPgLib.refreshData();
                    }
                }
            ];
            const indexPageDef = {
                uri: '/api/GrKoukInfoApi/GetIndexTblDataRecurringDocuments',
                currencyFormatter: formatterCurrency,
                numberFormatter: formatterNumber,
                colDefs: colDefs,
                actionColDefs: actionColDefs,
                actionColSubDefs: actionColSubDefs,
                actionMobileColDefs: actionMobileColDefs,
                tableHandlersToRegister: tableHandlersToRegister,
                pageHandlersToRegister: pageHandlersToRegister,
                afterTableLoad: {}
            };

            indPgLib.setIndexPageDefinition(indexPageDef);
            //#endregion


            var applyRecurringTransaction = (idsJs) => {
                var timeout;
                $.ajax({
                    contentType: 'application/json; charset=utf-8',

                    dataType: 'json',
                    type: 'POST',
                    data: idsJs,
                    url: "/RecurringTransactions/ApplyRecTransIdList",
                    beforeSend: function() {
                        if (timeout) {
                            clearTimeout(timeout);
                        }
                        timeout = setTimeout(function() {

                                $("#loadMe").modal({
                                    backdrop: "static", //remove ability to close modal with click
                                    keyboard: false, //remove option to close with keyboard
                                    show: true //Display loader!
                                });
                            },
                            1000);

                    },
                    success: function(result) {
                        console.log(result);
                        toastr.success("Applyed", result.message);
                        indPgLib.refreshData();

                    },
                    complete: function() {
                        if (timeout) {
                            clearTimeout(timeout);
                        }
                        $("#loadMe").modal("hide");
                        setTimeout(function() {
                                console.log('Checking for open modals');
                                var isOpen = $('#loadMe').hasClass('show');
                                if (isOpen) {
                                    console.log('There is an open Modal');
                                    $("#loadMe").modal("hide");
                                } else {
                                    console.log('No open modal');
                                }
                            },
                            2000);
                    },
                    error: function(e) {
                        console.log(e);
                        toastr.error("Error", e.responseJSON.error);

                    }
                });
            };
            var deleteSelectedRows = () => {
                var $rowSelectors = $('input[name=checkTableRow]');
                var selectedRows = $rowSelectors.filter(':checked');
                var idsToDelete = [];
                $.each(selectedRows,
                    function(key, value) {
                        console.log(value);
                        var id = parseInt(value.dataset.itemid);
                        idsToDelete.push(id);
                    });
                if (idsToDelete.length > 0) {
                    var idsJs = JSON.stringify({
                        //ToDo: Change this
                        section: 'SectionCode',
                        ids: idsToDelete
                    });
                    var timeout;

                    $.ajax({
                        contentType: 'application/json; charset=utf-8',

                        dataType: 'json',
                        type: 'POST',
                        data: idsJs,
                        url: "/api/GrkoukInfoApi/DeletesellDmentsList",
                        beforeSend: function() {
                            if (timeout) {
                                clearTimeout(timeout);
                            }
                            timeout = setTimeout(function() {

                                    $("#loadMe").modal({
                                        backdrop: "static", //remove ability to close modal with click
                                        keyboard: false, //remove option to close with keyboard
                                        show: true //Display loader!
                                    });
                                },
                                1000);

                        },
                        success: function(result) {
                            console.log(result);
                            toastr.success("Delete", result.message);
                            indPgLib.refreshData();

                        },
                        complete: function() {
                            if (timeout) {
                                clearTimeout(timeout);
                            }
                            $("#loadMe").modal("hide");
                            setTimeout(function() {
                                    console.log('Checking for open modals');
                                    var isOpen = $('#loadMe').hasClass('show');
                                    if (isOpen) {
                                        console.log('There is an open Modal');
                                        $("#loadMe").modal("hide");
                                    } else {
                                        console.log('No open modal');
                                    }
                                },
                                2000);
                        },
                        error: function(e) {
                            console.log(e);
                            toastr.error("Error", e.responseJSON.error);

                        }
                    });

                }

            };
            var applySelectedRows = () => {
                var $rowSelectors = $('input[name=checkTableRow]');
                var selectedRows = $rowSelectors.filter(':checked');
                var idsToHandle = [];
                $.each(selectedRows,
                    function(key, value) {
                        console.log(value);
                        var id = parseInt(value.dataset.itemid);
                        idsToHandle.push(id);
                    });
                if (idsToHandle.length > 0) {
                    var idsJs = JSON.stringify({
                        //ToDo: Change this
                        //section: 'SectionCode',
                        ids: idsToHandle
                    });

                    applyRecurringTransaction(idsJs);
                }

            };


            $deleteSelectedRowsLink.on('click',
                () => {
                    deleteSelectedRows();
                });


            var currencyChanged = () => {
                let curCurrencySelected = parseInt($('#CurrencySelector').val());
                var currencyCode;
                try {
                    let currentCurrency = currencyListJs.find(x => x.id === curCurrencySelected);
                    currencyCode = currentCurrency.code;
                    let locale = currentCurrency.displayLocale;
                    formatterCurrency = new Intl.NumberFormat(locale,
                        {
                            style: 'currency',
                            currency: currencyCode,
                            minimumFractionDigits: 2
                        });
                    indPgLib.setCurrencyFormatter(formatterCurrency);
                } catch (e) {
                    //not found keep old formater or maybe create a default one
                    console.log('Not found currency code for this id');
                }
            };
            indPgLib.addPagerElementEventListeners();
            indPgLib.registerPageHandlers();
            indPgLib.loadSettings('RecurringDocIndexView');
            //----------------

            indPgLib.handleFiltersUi();
            currencyChanged();
            indPgLib.refreshData();
            indPgLib.rowSelectorsUi();

        });

        $(window).on('beforeunload',
            function(e) {
                indPgLib.saveSettings('RecurringDocIndexView');

            });
    </script>
}

